
@font-face {
    font-family: 'Montserrat-Light';
    src: url(fonts\Montserrat-Light.ttf) format(ttf);
  }
  
  @font-face {
    font-family: 'SuisseIntl-Regular';
    src: url(SuisseIntl-Regular.ttf) format(ttf);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  ul {
    list-style: none;
  }
  
  nav {
    z-index: 1;
    position: fixed;
    top: 0;
    background: white;
    width: 100vw;
    height: 15vh;
  }
  
  .navTop {
    position: fixed;
    top: 50px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 95vw;
    height: 2.3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: 60px;
  }
  
  .menu-btn {
    position: absolute;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
  }
  .menu-btn__burger {
    width: 30px;
    height: 4px;
    background: black;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: black;
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }
  /*desloca 1 faixa para cima e outra para baixo */
  .menu-btn__burger::before {
    transform: translateY(-6px);
  }
  .menu-btn__burger::after {
    transform: translateY(6px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-32px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  
  .menu {
    display: none; /* hide the menu by default */
  }
  .menu-btn.open + .menu {
    display: inline-block; /* display the menu when the button is clicked */
  }
  
  .menu-links {
    position: absolute;
    left: 100px;
    top: 3px;
  }
  
  .menu-links a{
    text-decoration: none; /* remove the underline */
    font: 12px SuisseIntl-Regular, sans-serif;
    color:black;
  }
  
  .menu__item {
    display: inline-block;
    margin-right: 10px;
    
  }
  
  .navShowed {
    position: absolute;
    display: flex;
    width: 280px;
    right: 10px;
    margin-top: auto;
  }
  
  .menuItem {
    font: 12px SuisseIntl-Regular, sans-serif;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    color: black;
  }
  
  .discover-link {
    position: relative;
  }
  
  .search-bar {
    position: absolute;
    display: inline-block;
    right: 300px;
    margin-top: auto;
  }
  
  .search-bar input {
    direction: rtl;
    width: 70px;
    font: 12px SuisseIntl-Regular, sans-serif;
    color: lightgray;
    text-transform: uppercase;
    text-align: right;
    padding: 0 10px;
    background: none;
    border: none;
    border-radius: 30px;
    transition: width 0.3s ease;
    height: 20px;
  }
  
  .search-bar i {
    position: absolute;
    right: 10px;
    top: 10px;
    color: black;
    font: 12px SuisseIntl-Regular, sans-serif;
    cursor: pointer;
  }
  
  .search-bar input:focus {
    width: 200px;
    background-color: blue;
    padding: 0 10px 0 0px;
    outline: none;
  }
  
  .search-bar input::placeholder {
    font: 12px SuisseIntl-Regular, sans-serif;
    color: black;
  }

  #shopping-cart {
    position: fixed;
    font: 12px SuisseIntl-Regular, sans-serif;
    padding: 20px;
    top: 0;
    right: 0;
    width: 26%;
    height: 100vh;
    background: aqua;
    text-align: left;
    z-index: 1;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }
  
  #shopping-cart.show {
    transform: translateX(0%);
  }
  
  
  #close-shopping-cart {
    border: none;
    background-color: transparent;
    font: 12px SuisseIntl-Regular, sans-serif;
    position: absolute;
    padding: 20px;
    right: 0;
    top: 0;
    color: black;
  }
  
  
#close-shopping-cart {d
  cursor: pointer;
}
.product-grid {
    position: relative;
    z-index: 0;
    display: grid;
    top: 200px;
    grid-template-columns: repeat(2, 300px);
    grid-gap: 0px;
    border: 0px solid blue;
    align-content: center;
    justify-content: center;
    scroll-behavior: smooth;
    
}

.product-card {
  position: relative;
  border: 1px solid black;
  background-color: white;
  padding: 20px;
  text-align: center;
  align-items: center;
}

.product-card img{
  width: 200px;
  align-items: baseline;
}

.product-card .product-title,
.product-card .price {
font: 12px SuisseIntl-Regular, sans-serif;
color: black;
opacity: 0;
visibility: hidden;
transform: translateY(-10px); /* slide down effect */
transition: all 0.3s ease-in-out;
}


.product-card:hover .product-title,
.product-card:hover .price {
font: 12px SuisseIntl-Regular, sans-serif;
color: black;
opacity: 1;
transform: translateY(0); /* slide back to original position */
visibility: visible;
}

.product-title {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.product-title .price {
margin:auto;
}


.add-to-cart {
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}


#homepage-footer-text {
    font: 9px SuisseIntl-Regular, sans-serif;
    color: lightgray;
    position: fixed;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%);
    width: calc(100% - 24px);
    text-align: center;
  }