
@font-face {
  font-family: 'Montserrat-Light';
  src: url(fonts\Montserrat-Light.ttf) format(ttf);
}

@font-face {
  font-family: 'SuisseIntl-Regular';
  src: url(SuisseIntl-Regular.ttf) format(ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background:white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

ul {
  list-style: none;
}

nav {
  z-index: 1;
  position: fixed;
  top: 0;
  background: white;
  width: 100vw;
  height: 15vh;
}

.navTop {
  position: fixed;
  top: 50px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 95vw;
  height: 2.3vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 60px;
}

.menu-btn {
  position: absolute;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  /* border: 3px solid #fff; */
}
.menu-btn__burger {
  width: 30px;
  height: 4px;
  background: black;
  border-radius: 5px;

  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  background: black;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}
/*desloca 1 faixa para cima e outra para baixo */
.menu-btn__burger::before {
  transform: translateY(-6px);
}
.menu-btn__burger::after {
  transform: translateY(6px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-32px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.menu {
  display: none; /* hide the menu by default */
}
.menu-btn.open + .menu {
  display: inline-block; /* display the menu when the button is clicked */
}

.menu-links {
  position: absolute;
  left: 100px;
  top: 3px;
}

.menu-links a{
  text-decoration: none; /* remove the underline */
  font: 12px SuisseIntl-Regular, sans-serif;
  color: black;
}

.menu__item {
  display: inline-block;
  margin-right: 10px;
  
}

.navShowed {
  position: absolute;
  display: flex;
  width: 280px;
  right: 10px;
  margin-top: auto;
}

.menuItem {
  font: 12px SuisseIntl-Regular, sans-serif;
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
  color: black;
}

.discover-link {
  position: relative;
}

.search-bar {
  position: absolute;
  display: inline-block;
  right: 300px;
  margin-top: auto;
}

.search-bar input {
  direction: rtl;
  width: 70px;
  font: 12px SuisseIntl-Regular, sans-serif;
  color: black;
  text-transform: uppercase;
  text-align: right;
  padding: 0 10px;
  background: none;
  border: none;
  border-radius: 30px;
  transition: width 0.3s ease;
  height: 20px;
}

.search-bar i {
  position: absolute;
  right: 10px;
  top: 10px;
  color: black;
  font: 12px SuisseIntl-Regular, sans-serif;
  cursor: pointer;
}

.search-bar input:focus {
  width: 200px;
  background-color: blue;
  padding: 0 10px 0 0px;
  outline: none;
}

.search-bar input::placeholder {
  font: 12px SuisseIntl-Regular, sans-serif;
  color: black;
}

#shopping-cart {
  position: fixed;
  font: 12px SuisseIntl-Regular, sans-serif;
  padding: 20px;
  top: 0;
  right: 0;
  width: 26%;
  height: 100vh;
  background-color: rgba(255,255,255,1);
  text-align: left;
  z-index: 1;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;

}


#shopping-cart.show {
  transform: translateX(0%);
}


#close-shopping-cart {
  border: none;
  background-color: transparent;
  font: 12px SuisseIntl-Regular, sans-serif;
  position: absolute;
  padding: 20px;
  right: 0;
  top: 0;
  color: black;
}


#close-shopping-cart {
  cursor: pointer;
}
.product-container {
  padding: 2rem;
}

.product-wrapper {
  position: relative;
  max-width: 35rem; 
  margin: 0 auto;
}

.product {
  flex: 1 0 100%;
  width: 100%;
  scroll-snap-align: start;
  align-content: flex-start;
  object-fit: contain;
  padding: 20px;
}
.product img {
  width: 40%;
  align-content: center;
}

.product h4 {
  text-align: left;
  font: 12px SuisseIntl-Regular, sans-serif;
  font-weight: bold;
  color: black;
}
.product p {
  text-align: left;
  font: 9px SuisseIntl-Regular, sans-serif;
  font-weight: bold;
  color: black;
  text-decoration: underline;
}

.product .delete-btn,
.product .decrement-quantity-btn,
.product .product-quantity,
.product .increment-quantity-btn{
  background: none;
  border: none;
  font: 9px SuisseIntl-Regular, sans-serif;
  color: black;
  text-align: center;
}

.product .delete-btn,
.product .decrement-quantity-btn,
.product .increment-quantity-btn{
  cursor: pointer;
}
.checkout-btn {
  background: none;
  border: none;
  font: 9px SuisseIntl-Regular, sans-serif;
  color: black;
  text-align: center;
  padding-left: 20px;
}
.checkout-btn:hover {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}


.product-slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  /* box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25); */
  border-radius: 0.5rem;
}

.product-slider img {
  flex: 1 0 100%;
  width: 100%;
  scroll-snap-align: start;
  object-fit: contain;
  margin-right: 100px; 
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 40%;
  transform: translateX(-40%);
  z-index: 1;
  transform: translateY(40px);
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: black;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

#homepage-footer-text {
  font: 9px SuisseIntl-Regular, sans-serif;
  color: black;
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%);
  width: calc(100% - 24px);
  text-align: center;
}

#draggable-text-box1 {

  -webkit-user-select: none;  /* Chrome, Safari, Opera */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* Internet Explorer/Edge */
  user-select: none;          /* Standard */

  /* Set the dimensions of the text box */
  width: 300px;
  height: 200px;

  /* Add a white background color */
  background-color: white;

  /* Add a black border */
  border: 1px solid black;

  /* Add a bit of padding */
  padding: 10px;

  /* Set the text color to black */
  font: 12px SuisseIntl-Regular, sans-serif;
  color: black;

  /* Add the ability to be dragged around the page */
  cursor: grab;

  /* other properties */
  position: absolute;
  top: calc(75% + 10px); /* adjust this value to change the distance from the button */
  left: calc(75% + 10px); /* adjust this value to change the width of the textbox*/
}

#draggable-text-box1.hidden {
  /* Make the text box hidden by default */
  display: none;
}

#fit-button {
  position: fixed;
  background-color: transparent;
  font: 12px SuisseIntl-Regular, sans-serif;
  color: black;
  border: none;
  bottom: 0;
  right: 0;
  margin: 1rem;
}

#fit-button:hover {
  cursor: pointer;
}

#close-text-box1 {
  border: none;
  background-color: transparent;
  font: 12px SuisseIntl-Regular, sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
}

#close-text-box1:hover {
  cursor: pointer;
}

#facts-button {
  /* other properties */
  z-index: 1;
  position: fixed;
  background-color: transparent;
  font: 12px SuisseIntl-Regular, sans-serif;
  color: black;
  border: none;
  top: 74%;
}
#facts-button:hover {
  cursor: pointer;
}
#draggable-text-box {
  user-select: none;         
  position: absolute;
  top: 30%; /*adjust this value to change the distance from the button */
  left: 70%;
  width: 300px; /*adjust this value to change the width of the textbox*/
  background-color: #fff;
  border: 1px solid black;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  z-index: 0;
}

#text-box-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  padding: 10px;
}

#text-box-header span {
  font: 12px SuisseIntl-Regular, sans-serif;
  font-weight: bold;
}
#text-box-header p {
  text-align: left;
  padding-top: 10px;
  font: 9px SuisseIntl-Regular, sans-serif;
}
#text-box-content {
  padding: 10px;
  border-bottom: 1px solid black;
  font: 12px SuisseIntl-Regular, sans-serif;
  line-height: 1.5;
}

#date-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  line-height: 2;
}

#label {
  text-align: left;
  font: 9px SuisseIntl-Regular, sans-serif;
}

#value {
  text-align: right;
}


#close-text-box {
  border: none;
  background-color: transparent;
  font: 12px SuisseIntl-Regular, sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
}

.hidden {
  display: none;
}

#text-box-image {
  overflow: hidden;
  padding: 10px;
  font: 12px SuisseIntl-Regular, sans-serif;
  line-height: 1.5;
  border-bottom: 1px solid black;
}
#images-container {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 20px;
  left: 0;
  height: auto;
  object-fit: contain;
  vertical-align: middle;
  animation: bannermove 21s linear infinite;
}

@keyframes bannermove {
  from {
      transform: translate(0, 0);
  }
  to {
      transform: translate(-490px, 0);
  }
}

#images-container img{
  width: 150px;
  margin-right: 15px;
  object-fit: contain;
}
#text-box-text {
  display: flex;
  justify-content: flex-start;
  font: 12px SuisseIntl-Regular, sans-serif;
}

.quantity-controls {
  position: fixed;
  
  background: none;
  font: 12px SuisseIntl-Regular, sans-serif;
  color: black;
  border: none;
  top: 70%;
}

.quantity-controls button {
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  color: black;
  font: 16px SuisseIntl-Regular, sans-serif;
  
}

.increment-quantity:disabled {
  opacity: 1;
}


.quantity-controls .quantity-display {
  width: 30px;
  text-align: center;
  margin: 0 10px;
 
}

.increment-quantity [data-tooltip] {
  visibility: hidden;
  box-shadow: none;
  white-space: nowrap;
  font: 9px SuisseIntl-Regular, sans-serif;
  text-transform: uppercase;
  color: black;
  padding: 0.5rem;
  opacity: 0;
  transition: all 250ms ease;
  position: absolute;
  margin: 10px 0px 0px 150px;
  z-index: 1;
  transform: translateX(-50%);
  border: 0px solid black;
}

.increment-quantity:hover[disabled] [data-tooltip] {
  visibility: visible;
  opacity: 1;
}

#add-to-cart-btn:hover [disabled] [data-tooltip] {
  visibility: visible;
  cursor: default;
  opacity: 1;
}

#add-to-cart-btn{
  /* other properties */
  position: relative;
  background: none;
  z-index: 1;
  position: fixed;
  font: 12px SuisseIntl-Regular, sans-serif;
  color: black;
  border: none;
  top: 76%;
  cursor: pointer;
}

#add-to-cart-btn [data-tooltip] {

  font: 9px SuisseIntl-Regular, sans-serif;
  text-transform: uppercase;

}

